{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->

        {% if getCompliment == True %}

          <h1>You are {{article}} {{adverb['Adverb']}} {{rows['Adjective']}} person!!</h1>
        {% if HAPPY == True %}
          <h2><a href="http://www.youtube.com/watch?v=y6Sxv-sUYtM"><b>EXTREME MEASURES</b></a></h2>
        {% endif %}
          <form method="post" action="/compliment">
              <input type="submit" value="One More?" name="submit" size="40"/>
              <input type="checkbox" name="partypooper">I don't like compliments!<br>
            <p>Selected Intensity = {{intensity}} </p>
            <p>Actual Intensity = {{adverb['Intensity']}}</p>
            <table>
              <tr><td>INTENSITY?</td><td>1<input type="range" name="intensity" min="1" max="3" step="1" value="2" />3</td></tr>
            </table>
          </form>

         {% else %}

          <form method="post" action="/compliment">
              <input type="submit" value="Get a Compliment!" name="submit" size="40"/>
              <input type="checkbox" name="partypooper">I don't like compliments!<br>
              <table>
              <tr><td>INTENSITY?</td><td>1<input type="range" name="intensity" min="1" max="3" step="1" value="2"/>3</td></tr>
              </table>
          </form>
        
         {% endif %}
          
 
        
{% endblock %}
