<!DOCTYPE html>
<html lang="en">
<head>
<title>Compliments Generator</title>
<meta charset="utf-8">
<link rel="icon" href="static/img/Smiley_kabelsalat.gif">
<link rel="shortcut icon" href="static/img/Smiley_kabelsalat.gif">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/slider.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery-migrate-1.1.1.js"></script>
<script src="static/js/superfish.js"></script>
<script src="static/js/sForm.js"></script>
<script src="static/js/jquery.equalheights.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/tms-0.4.1.js"></script>
<script src="static/js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script	src="static/js/jquery.touchSwipe.min.js"></script>
<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'fade',
        pagination: false, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    })
});
$(window).load(
    function () {
        $('.carousel1').carouFredSel({
            auto: false,
            prev: '.prev1',
            next: '.next1',
            width: 1030,
            items: {
                visible: {
                    min: 1,
                    max: 4
                },
                height: 'auto',
                width: 157,
            },
            responsive: true,
            scroll: 1,
            mousewheel: false,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });
    });
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body class="page1">
<header>
  <div class="container_12">
    <div class="grid_12">
      <div class="h_phone">Happiness is only a smile away</div>
      <h1>Compliments Generator</h1><h1><a href="/"><img src="static/img/Smiley_kabelsalat.gif" alt=""></a></h1>
      <p></p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu_block">
    <div class="container_12">
      <div class="grid_12">
        {% if loggedIn == True %} 
        <div class="autor"><a href="/">Welcome {{session['username']}}</a><a href="/logout">Logout</a></div>
         {% else %}
        <div class="autor"> <a href="/login">User Login</a></div>
         {% endif %}
        <nav class="">
          <ul class="sf-menu">
            <li class="current"><a href="/">Home</a></li>
            <li class="with_ul"><a href="/about">About</a></li>
            <li><a href="/compliment">Get a Compliment</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>
<div class="slider-relative">
  <div class="slider-block">
    <div class="slider"> <a href="#" class="prev"></a> <a href="#" class="next"></a>
      <ul class="items">
        <li> <img src="static/img/slide.jpg" alt="">
          <div class="banner">somtimes all you can do is walk away,<br>
            <br>
            hide your tears, and just pretend you're okay -Unknown</div>
        </li>
        <li> <img src="static/img/slide1.jpg" alt="">
          <div class="banner">Happiness is when what you think, what you say <br>
            <br>
            and what you do are in harmony -Mahatma Gandhi</div>
        </li>
        <li> <img src="static/img/slide2.jpg" alt="">
          <div class="banner">"To do what you like is freedom<br>
            <br>
            to like what you do is happiness -Ameya</div>
        </li>
        <li> <img src="static/img/slide3.jpg" alt="">
          <div class="banner">Be so happy that when others look at you <br>
            <br>
            they become happy too. -Unknown</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content">
  <div class="black">
    <div class="page1_block">
      <div class="container_12">
        <div class="grid_12">
          <h2>Because you deserve<br>
            <br>
            <br>
            to be complimented!</h2>
        </div>
        <div class="clear"></div>
      </div>
    </div>
 
    
    
  </div>
  <div class="white">
    <div class="container_12">
      <div class="grid_7">
        
      </div>

        
    </div>
  </div>
  <div class="gray">
    
  </div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_2">
      
    </div>
    <div class="grid_2">
      
    </div>
    <div class="grid_2">
      
    </div>
    <div class="grid_2">
      
    </div>
    <div class="grid_3 prefix_1">
      
    </div>
    <div class="clear"></div>
  </div>
  <div class="f_bot">
    <div class="container_12">
      <div class="grid_12">Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
    </div>
  </div>
</footer>
</body>
</html>
