<!DOCTYPE html>
<html lang="en">
<head>
  <title>Compliment Generator | {{page}}</title>
<meta charset="utf-8">
<link rel="icon" href="static/img/Smiley_kabelsalat.gif">
<link rel="shortcut icon" href="static/img/Smiley_kabelsalat.gif">
<link rel="stylesheet" href="static/css/style.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery-migrate-1.1.1.js"></script>
<script src="static/js/superfish.js"></script>
<script src="static/js/sForm.js"></script>
<script src="static/js/jquery.equalheights.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<header>
  <div class="container_12">
    <div class="grid_12">
      <div class="h_phone">Happiness is only a smile away</div>
      <h1>Compliments Generator</h1><h1><a href="index.html"><img src="static/img/Smiley_kabelsalat.gif" alt=""></a> </h1>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu_block">
    <div class="container_12">
      <div class="grid_12">
         {% if loggedIn == True %} 
        <div class="autor"><a href="/">Welcome {{session['username']}}</a><a href="/logout">Logout</a></div>
         {% else %}
        <div class="autor"> <a href="/login">Login</a> <a href="/register">Register</a></div>
         {% endif %}
        <nav>
          <ul class="sf-menu">
             
            <li {% if page == "Index" %} class="current" {% endif %}><a href="/">Home</a></li>
            <li {% if page == "About" %} class="current" {% endif %}><a href="/about">About</a></li>
            <li {% if page == "Compliment" %} class="current" {% endif %}><a href="/compliment">Get a Compliment</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>
<div class="content">
  <div class="black bl1">
    <div class="container_12">
      <div class="grid_8">
        <h3>{{page}}</h3>
        <img src="static/img/page2_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
             {%block content %}{% endblock %}<br>
         
      </div>
      
    </div>
  </div>
  <div class="white wt1">
    <div class="container_12">
      
      <div class="clear"></div>
    </div>
  </div>
  <div class="gray g2">
    <div class="container_12">
      
    </div>
    <div class="clear"></div>
  </div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_2">
     
    </div>
    <div class="grid_2">
         </div>
    <div class="grid_2">
      
    </div>
    <div class="grid_2">
      
    </div>
    <div class="grid_3 prefix_1">
    </div>
    <div class="clear"></div>
  </div>
  <div class="f_bot">
    <div class="container_12">
      <div class="grid_12">Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
    </div>
  </div>
</footer>
</body>
</html>
